In [13]:
import pandas as pd

In [14]:
bd_inversionistas = pd.read_excel('Base-inicial.xlsx')
bd_inversionistas.head(5)

,Organization Name,Headquarters Location,Operating Status,Company Type,Number of Investments,Number of Lead Investments,Number of Diversity Investments,Number of Exits,Number of Lead Investors,Number of Investors,...,Total Funding Amount Currency,Total Funding Amount Currency (in USD),Number of Events,SEMrush - Monthly Visits,SEMrush - Average Visits (6 months),SEMrush - Visit Duration,Aberdeen - IT Spend,Aberdeen - IT Spend Currency,Aberdeen - IT Spend Currency (in USD),Principales inversionistas
0,Tencent,"Shenzhen, Guangdong, China",Active,For Profit,693.0,375.0,15.0,125.0,1.0,4.0,...,USD,1.257677e+10,22.0,"4,085,844","3,553,184",600.0,NaN,NaN,NaN,"IDG Capital, Prosus & Naspers, Lippo Group, PCCW"
1,Warburg Pincus,"New York, New York, United States",Active,NaN,433.0,286.0,22.0,131.0,NaN,NaN,...,USD,3.802820e+07,NaN,34.635,"34,033.67",392.0,53801.0,USD,53801.0,NaN
2,Twitter,"San Francisco, California, United States",Active,For Profit,10.0,2.0,1.0,3.0,9.0,37.0,...,USD,4.430192e+09,77.0,"6,026,399,205","3,104,998,131.33",942.0,NaN,NaN,NaN,"Andreessen Horowitz, Morgan Stanley, Spark Cap..."
3,Ubisoft,"Montreuil-sous-bois, Ile-de-France, France",Active,For Profit,9.0,NaN,NaN,1.0,1.0,4.0,...,USD,7.706506e+08,16.0,"32,820,567","27,881,933.83",392.0,NaN,NaN,NaN,"Tencent, JP Morgan Chase, Ontario Teachers' Pe..."
4,WeWork,"New York, New York, United States",Active,For Profit,9.0,6.0,4.0,2.0,11.0,24.0,...,USD,2.159578e+10,120.0,"2,646,155","2,483,475.83",280.0,343977.0,USD,343977.0,"SoftBank, JP Morgan Chase, Goldman Sachs, Insi..."

In [15]:
import numpy as np
bd_inversionistas = bd_inversionistas[~bd_inversionistas["Principales inversionistas"].isna()]
nodos = bd_inversionistas["Organization Name"][~bd_inversionistas["Principales inversionistas"].isna()].unique()
relaciones = {}
df_inversionistas = {TARGET: SOURCE.split(",") if str(TARGET) != 'nan' else np.nan for TARGET, SOURCE in zip (
                    bd_inversionistas["Organization Name"], bd_inversionistas["Principales inversionistas"]) }
df_inversionistas

lista_tuplas = []
for empresa in df_inversionistas:
    if str(df_inversionistas[empresa]) == 'nan': # relaciÃ³n consigo misma
        None
    else:
        for target in df_inversionistas[empresa]:
            lista_tuplas.append((empresa,target.strip()))

In [16]:
bd_inversionistas_total = pd.read_excel('Base-inicial.xlsx')
arcos = pd.DataFrame(lista_tuplas, columns=['TARGET','SOURCE'])
total_nodos = set(list(arcos.SOURCE.unique())+list(arcos.TARGET.unique()))
nodos_final = pd.DataFrame(total_nodos).rename(
                columns={0:"Organization Name"}).merge(
                    bd_inversionistas_total, how="inner",
                    on="Organization Name").reset_index().rename(columns={'index':"Id","Organization Name":"Label"})
nodos_final

,Id,Label,Headquarters Location,Operating Status,Company Type,Number of Investments,Number of Lead Investments,Number of Diversity Investments,Number of Exits,Number of Lead Investors,...,Total Funding Amount Currency,Total Funding Amount Currency (in USD),Number of Events,SEMrush - Monthly Visits,SEMrush - Average Visits (6 months),SEMrush - Visit Duration,Aberdeen - IT Spend,Aberdeen - IT Spend Currency,Aberdeen - IT Spend Currency (in USD),Principales inversionistas
0,0,Mayo Clinic,"Rochester, Minnesota, United States",Active,For Profit,54.0,8.0,11.0,7.0,3.0,...,USD,3.861000e+08,40.0,"208,741,811","194,102,517.5",513.000,1.436910e+05,USD,1.436910e+05,"National Institutes of Health, U.S. Department..."
1,1,AirTree Ventures,"Paddington, Western Australia, Australia",Active,NaN,108.0,43.0,5.0,9.0,NaN,...,NaN,NaN,NaN,12.142,"7,448.83",119.000,NaN,NaN,NaN,NaN
2,2,DataRails,"Tel Aviv, Tel Aviv, Israel",Active,For Profit,NaN,NaN,NaN,NaN,5.0,...,USD,1.035000e+08,NaN,28.497,"21,384.67",42.000,NaN,NaN,NaN,"Vertex Ventures, Innovation Endeavors, Zeev Ve..."
3,3,Felicis Ventures,"Menlo Park, California, United States",Active,NaN,547.0,86.0,115.0,148.0,NaN,...,NaN,NaN,NaN,10.036,"5,379.17",127.000,NaN,NaN,NaN,NaN
4,4,Netflix,"Los Gatos, California, United States",Active,For Profit,3.0,NaN,NaN,1.0,4.0,...,USD,1.219080e+11,37.0,"872,076,095","1,026,494,647.83",560.000,1.002235e+09,USD,1.002235e+09,"Institutional Venture Partners, TCV, Foundatio..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2114,2114,Unstoppable Domains,"San Francisco, California, United States",Active,For Profit,NaN,NaN,NaN,NaN,5.0,...,USD,6.955997e+06,1.0,"1,370,648","1,643,094",1.252,NaN,NaN,NaN,"Gaingels, Draper Associates, Protocol Labs, Co..."
2115,2115,Greyhound Capital,"London, England, United Kingdom",Active,NaN,57.0,3.0,2.0,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2116,2116,BMW i Ventures,"Mountain View, California, United States",Active,NaN,101.0,36.0,21.0,18.0,NaN,...,NaN,NaN,2.0,2.879,"2,646.17",10.000,NaN,NaN,NaN,NaN
2117,2117,TenEleven Ventures,"Burlingame, California, United States",Active,NaN,55.0,19.0,2.0,11.0,NaN,...,NaN,NaN,1.0,2.507,NaN,8.000,NaN,NaN,NaN,NaN
2118,2118,South Park Commons,"San Francisco, California, United States",Active,NaN,61.0,6.0,19.0,6.0,NaN,...,NaN,NaN,NaN,12.953,"5,194.83",1.224,NaN,NaN,NaN,NaN

In [17]:
# mediante merge se asegura que estamos fusionando solamente los nodos que tienen informaciÃ³n, dado que el mÃ©todo es inner
arcos_final = arcos.rename(columns={"SOURCE":"LabelSource","TARGET":"LabelTarget"}).merge(
                nodos_final[["Id","Label"]].rename(columns={"Id":"SOURCE"}), 
                left_on="LabelSource",right_on="Label").merge(
                    nodos_final[["Id","Label"]].rename(columns={"Id":"TARGET"}), 
                    left_on="LabelTarget",right_on="Label").reset_index()

arcos_final = arcos_final.rename(columns={"index":"Id"})[["Id","SOURCE","TARGET","LabelSource","LabelTarget"]]
arcos_final

        Id  SOURCE  TARGET            LabelSource                LabelTarget
0        0    1433     946            IDG Capital                    Tencent
1        1     861     946       Prosus & Naspers                    Tencent
2        2     636     946            Lippo Group                    Tencent
3        3    2058     946                   PCCW                    Tencent
4        4    1433     940            IDG Capital                  SenseTime
...    ...     ...     ...                    ...                        ...
4176  4176     583     643                Bitmain                  DoraHacks
4177  4177    1851     643      ArkStream Capital                  DoraHacks
4178  4178     263     643      8 Decimal Capital                  DoraHacks
4179  4179    1815    1206  Nikko AssetManagement  ARK Investment Management
4180  4180    1429    2044          Omnes Capital                 ESL Gaming

[4181 rows x 5 columns]

In [18]:
# Exportar la informaciÃ³n de arcos y nodos
nodos_final.to_csv("nodos.csv", index=False)
arcos_final.to_csv("arcos.csv", index=False)